# Windows files should use crlf line endings
# https://help.github.com/articles/dealing-with-line-endings/
*.bat text eol=crlf
*.buckconfig filter=lfs diff=lfs merge=lfs -text
*.editorconfig filter=lfs diff=lfs merge=lfs -text
*.js filter=lfs diff=lfs merge=lfs -text
*.flowconfig filter=lfs diff=lfs merge=lfs -text
*.gitignore filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.watchmanconfig filter=lfs diff=lfs merge=lfs -text
/android/app/_BUCK filter=lfs diff=lfs merge=lfs -text
*.gradle filter=lfs diff=lfs merge=lfs -text
*.bzl filter=lfs diff=lfs merge=lfs -text
*.keystore filter=lfs diff=lfs merge=lfs -text
*.pro filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
*.java filter=lfs diff=lfs merge=lfs -text
*.ttf filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.properties filter=lfs diff=lfs merge=lfs -text
*.jar filter=lfs diff=lfs merge=lfs -text
/android/gradlew filter=lfs diff=lfs merge=lfs -text
*.bat filter=lfs diff=lfs merge=lfs -text
*.ts filter=lfs diff=lfs merge=lfs -text
*.pbxproj filter=lfs diff=lfs merge=lfs -text
*.xcscheme filter=lfs diff=lfs merge=lfs -text
*.xcworkspacedata filter=lfs diff=lfs merge=lfs -text
*.plist filter=lfs diff=lfs merge=lfs -text
*.h filter=lfs diff=lfs merge=lfs -text
*.m filter=lfs diff=lfs merge=lfs -text
*.storyboard filter=lfs diff=lfs merge=lfs -text
*.a filter=lfs diff=lfs merge=lfs -text
*.car filter=lfs diff=lfs merge=lfs -text
/ios/Frameworks/FaceTecSDK.framework/FaceTecSDK filter=lfs diff=lfs merge=lfs -text
*.nib filter=lfs diff=lfs merge=lfs -text
*.modulemap filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
/ios/Frameworks/FaceTecSDK.framework/cache_uyertuazlkxcjrlwkejr/39bb748b334003e3fa/1f5b84f51ce0fcfbb76e904b7bcaa7560f601e1394a0b29367a09385312287eb filter=lfs diff=lfs merge=lfs -text
/ios/Frameworks/FaceTecSDK.framework/cache_uyertuazlkxcjrlwkejr/39bb748b334003e3fa/2b075ac1a6132b5b8a4c9ef0ba6b0cd84db7838aca9a000e50d907f40770a4ab filter=lfs diff=lfs merge=lfs -text
/ios/Frameworks/FaceTecSDK.framework/cache_uyertuazlkxcjrlwkejr/39bb748b334003e3fa/4c4774668f9b9333977fc891e7695420a0b4c27cc2c1cd3920ce9e0870e3c0e8 filter=lfs diff=lfs merge=lfs -text
/ios/Frameworks/FaceTecSDK.framework/cache_uyertuazlkxcjrlwkejr/39bb748b334003e3fa/59cc2a9af81aaca2376702c2490650f4da2775fa673274db98aad41b7ef101c0 filter=lfs diff=lfs merge=lfs -text
/ios/Frameworks/FaceTecSDK.framework/cache_uyertuazlkxcjrlwkejr/39bb748b334003e3fa/66388dc76dc16bc6b76b682edd218a575bf45b9b filter=lfs diff=lfs merge=lfs -text
/ios/Frameworks/FaceTecSDK.framework/cache_uyertuazlkxcjrlwkejr/39bb748b334003e3fa/6b3133f0f39ff89a2a169d61176ee17cafacc5e288f334e2b64ee82892d11ccd filter=lfs diff=lfs merge=lfs -text
/ios/Frameworks/FaceTecSDK.framework/cache_uyertuazlkxcjrlwkejr/39bb748b334003e3fa/9077d16225f9314163ef1e7db6fc7d4088bb903d134bd95f23d5591ca4dfbfca filter=lfs diff=lfs merge=lfs -text
/ios/Frameworks/FaceTecSDK.framework/cache_uyertuazlkxcjrlwkejr/39bb748b334003e3fa/Ys4TQh4aewlf1CpyzWLi filter=lfs diff=lfs merge=lfs -text
/ios/Frameworks/FaceTecSDK.framework/cache_uyertuazlkxcjrlwkejr/39bb748b334003e3fa/a74f2afb9d20f2375ccbd14e67c094b85c89ceb608f7cf8ae04f3f646a6c5672 filter=lfs diff=lfs merge=lfs -text
/ios/Frameworks/FaceTecSDK.framework/cache_uyertuazlkxcjrlwkejr/39bb748b334003e3fa/b501893e75f62ee1707643e35b21109927b07ed5b202321c961b424cbc2e4695 filter=lfs diff=lfs merge=lfs -text
/ios/Frameworks/FaceTecSDK.framework/cache_uyertuazlkxcjrlwkejr/39bb748b334003e3fa/b82962a4847bcf6d1bf89ea7543f83e184a1df7c4e7e3c343dd3e3e17cb9a645 filter=lfs diff=lfs merge=lfs -text
/ios/Frameworks/FaceTecSDK.framework/cache_uyertuazlkxcjrlwkejr/39bb748b334003e3fa/dbd7a353f0130bb983d6ba05917e9be991d70e8f028df4b74e30bc6497ef7f71 filter=lfs diff=lfs merge=lfs -text
/ios/Frameworks/FaceTecSDK.framework/cache_uyertuazlkxcjrlwkejr/39bb748b334003e3fa/marker filter=lfs diff=lfs merge=lfs -text
*.strings filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.sh filter=lfs diff=lfs merge=lfs -text
/ios/Frameworks/Solus_DLock_SDK.framework/Solus_DLock_SDK filter=lfs diff=lfs merge=lfs -text
/ios/Frameworks/ZoomAuthentication.framework/ZoomAuthentication filter=lfs diff=lfs merge=lfs -text
/ios/Frameworks/ZoomAuthentication.framework/cache_uyertuazlkxcjrlwkejr/39bb748b334003e3fa/087485b83edcd1871080d7ba9e025ab8c45355d8ac185085706dcd6616ab4b16 filter=lfs diff=lfs merge=lfs -text
/ios/Frameworks/ZoomAuthentication.framework/cache_uyertuazlkxcjrlwkejr/39bb748b334003e3fa/1f5b84f51ce0fcfbb76e904b7bcaa7560f601e1394a0b29367a09385312287eb filter=lfs diff=lfs merge=lfs -text
/ios/Frameworks/ZoomAuthentication.framework/cache_uyertuazlkxcjrlwkejr/39bb748b334003e3fa/66388dc76dc16bc6b76b682edd218a575bf45b9b filter=lfs diff=lfs merge=lfs -text
/ios/Frameworks/ZoomAuthentication.framework/cache_uyertuazlkxcjrlwkejr/39bb748b334003e3fa/6b3133f0f39ff89a2a169d61176ee17cafacc5e288f334e2b64ee82892d11ccd filter=lfs diff=lfs merge=lfs -text
/ios/Frameworks/ZoomAuthentication.framework/cache_uyertuazlkxcjrlwkejr/39bb748b334003e3fa/8508efc2743543ee7041119686da1d60f0d9e6f9d85439e5a17b80b437983a85 filter=lfs diff=lfs merge=lfs -text
/ios/Frameworks/ZoomAuthentication.framework/cache_uyertuazlkxcjrlwkejr/39bb748b334003e3fa/a74f2afb9d20f2375ccbd14e67c094b85c89ceb608f7cf8ae04f3f646a6c5672 filter=lfs diff=lfs merge=lfs -text
/ios/Frameworks/ZoomAuthentication.framework/cache_uyertuazlkxcjrlwkejr/39bb748b334003e3fa/b82962a4847bcf6d1bf89ea7543f83e184a1df7c4e7e3c343dd3e3e17cb9a645 filter=lfs diff=lfs merge=lfs -text
/ios/Frameworks/ZoomAuthentication.framework/cache_uyertuazlkxcjrlwkejr/39bb748b334003e3fa/dbd7a353f0130bb983d6ba05917e9be991d70e8f028df4b74e30bc6497ef7f71 filter=lfs diff=lfs merge=lfs -text
/ios/Frameworks/ZoomAuthentication.framework/cache_uyertuazlkxcjrlwkejr/39bb748b334003e3fa/fa85936ce1fd40931a0993e3b79bebc8aff4745065f8758a7a116dcace9b4210 filter=lfs diff=lfs merge=lfs -text
/ios/Frameworks/_25519.framework/_25519 filter=lfs diff=lfs merge=lfs -text
/ios/InMobileMME.framework/InMobileMME filter=lfs diff=lfs merge=lfs -text
/ios/InMobileMME.framework/_CodeSignature/CodeResources filter=lfs diff=lfs merge=lfs -text
/ios/Podfile filter=lfs diff=lfs merge=lfs -text
*.lock filter=lfs diff=lfs merge=lfs -text
/ios/SolusIntegrationLibrary.framework/SolusIntegrationLibrary filter=lfs diff=lfs merge=lfs -text
/ios/SolusIntegrationLibrary.framework/_CodeSignature/CodeResources filter=lfs diff=lfs merge=lfs -text
/ios/SolusIntegrationLibrary.framework/run filter=lfs diff=lfs merge=lfs -text
/ios/SolusIntegrationLibrary.framework/upload-symbols filter=lfs diff=lfs merge=lfs -text
*.xcconfig filter=lfs diff=lfs merge=lfs -text
*.patch filter=lfs diff=lfs merge=lfs -text
*.MD filter=lfs diff=lfs merge=lfs -text
*.svg filter=lfs diff=lfs merge=lfs -text
