<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.facetecrn">

    <application>
        <activity android:name=".activities.EnrollmentWrapperActivity" />
      <activity android:name=".activities.AuthenticationWrapperActivity" />
    </application>
</manifest>
